@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FBBF24; /* Replace with your desired color (e.g., #FF0000 for red) */
    margin: 0; /* Remove default margins */
    padding: 0;
    width: 100%;
    /* Ensure body extends to full viewport height */
    min-height: 100vh;
}

/* width */
::-webkit-scrollbar { 
    width: 10px; 
} 
  
/* Track */
::-webkit-scrollbar-track { 
    background: #f1f1f1; 
} 
  
/* Handle */
::-webkit-scrollbar-thumb { 
    background: #888; 
    border-radius: 5px; 
} 
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { 
    background: #555; 
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }